.button {
    height: 6vh;
    width: 50px!important;
    margin: 10px;
    display: flex;
    flex: .4;
    /* margin-left: 15px!important; */
    /* margin-top: 10px!important; */
    margin-right: 50px!important;
}