.filters-container {
    width: 65%;
    margin-left: 17.5%;
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: 4%;
}
.filter {
    display: flex;
    flex: 1;
    height: 4vh;
} 
.button:hover {
    opacity: .8;
    cursor: pointer;
}
.search-input {
    width: 100%;
}
.search-bar {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .filters-container {
        width: 90%;
        margin-left: 7.5%;
        flex-direction: column;
        margin-bottom: 20vh;
        margin-top: 5vh;
    }
    .filter {
        margin-bottom: 2vh;
    }
}
/*
a.1366px wide (Large Desktop)
b.1024px wide (Small Desktop)
c.768px wide (Tablet)
d.411px wide (Phone)
*/