table {
    width: 70%;
    margin-left: 15%;
    border-collapse: collapse;
    margin-top: 2%;
  }
  th, td {
    padding: 15px;
    font-family: 'Open-Sans','Lora', Georgia, 'Times New Roman', Times, serif;
    color: #222;
  }
  th {
      font-size: 1.6rem;
      font-weight: 900;
      font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  }
  td {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    opacity: .8;
    border: 1px dashed rgba(34, 34, 34, .2);
  }

  @media screen and (max-width: 600px) {
    table {
        width: 95%!important;
        margin-left: 0px!important;
    }
    th {
      font-size: 1.4rem;
    }
}

@media screen and (max-width: 1025px) and (min-width: 601px) {
    table {
        width: 90%;
        margin-left: 5%;
        margin-top: 12vh;
    }
}